<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="utf-8">
<title>Saudação</title>
</head>
<body>

<h1>Olá, seja bem-vindo!</h1>

<h2><%= mensagem %></h2>

<a href="/">Voltar</a>

</body>
</html>

